name: unit

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  unit:
    name: unit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.7'

      - name: Run unit tests
        run: make test
